<html>
   
<body>
    <div class="bod">
        <div class="container">
          <app-header></app-header>
   
                  
       </div>        
      </div>
      <section class="container">
            <div  style="background: white; position: absolute; top: 40%;left:10%">
                <br>
                <h1 >  &nbsp; &nbsp;  &nbsp; &nbsp;Risque et prévention</h1>
            </div>
        </section>
   
       <section class="grey-section" >
        
            <header class="container">
               <div class="row">
                <h2 >La prévention est essentielle</h2>
                
                <p  >Les maladies cardio-vasculaires sont la première cause de mortalité dans le monde: il meurt chaque année plus de personnes en raison de maladies cardio-vasculaires que de toute autre cause.
                    <br>On estime à 17,7 millions le nombre de décès imputables aux maladies cardio-vasculaires, soit 31% de la mortalité mondiale totale.
                     Parmi ces décès, on estime que 7,4 millions sont dus à une cardiopathie coronarienne et 6,7 millions à un AVC (chiffres 2015).
                    <br> Il est possible de prévenir la plupart des maladies cardiovasculaires en s’attaquant aux facteurs de risque comportementaux .
                </p>
                

            </div>
        </header>
</section>

<section >
          <div class="container">
            <div class="row">
                <h2>  Les facteurs de risque liés au mode de vie</h2>
                 <p>
                      De petits changements sains dans votre routine quotidienne
                     peuvent diminuer le risque de maladie cardiaque.
                 </p>
            </div>
            <br>
            <br>
        
            <div class="row " >
                <div class="col-lg-4 col-12">
                    <img src="assets/images/1.PNG">
                    <br><h6>Alimentation <br> malsaine</h6>
                </div>
                <div class="col-lg-4 col-12">
                    <img src="assets/images/2.png">
                    <br><h6>Manque d’exercice</h6>
                </div>
                <div class="col-lg-4 col-12">
                    <img src="assets/images/3.PNG">
                    <br><h6>Poids malsain</h6>
                </div>
            </div>
            
            <br>
            <div class="row" >
                <div class="col-lg-4 col-12">
                    <img src="assets/images/4.PNG">
                    <br><h6>Tabagisme</h6>
                </div>
                <div class="col-lg-4 col-12">
                    <img src="assets/images/5.PNG">
                    <br><h6>Stress</h6>
                </div>
                <div class="col-lg-4 col-12">
                    <img src="assets/images/6.PNG">
                    <br><h6>L'alcool et la drogues</h6>
                </div>
            </div>
         
        </div>
</section>            
<br>
<br>

<section class="grey-section">
    <div class="container">
        <div class="row" >
            <h2>
              Facteurs de risque que vous ne pouvez pas contrôler</h2>
        </div>
        
        <br>
        <br>
        <div class="row" >
            <div class="col-lg-6 col-12" >
                <h4>Sexe</h4>
                <p>Votre risque de maladies du cœur et d’AVC <br>augmente après la ménopause</p>
            </div>
            <div class="col-lg-6 col-12 ">
               <h4>Âge</h4>
               <p style="font-style: italic;">Le risque des maladies cardiovasculaires augmente avec l’âge.</p>
            </div>   
        </div>
        
        <br>
        <div class="row">
            <div class="col-lg-6 col-12 ">
                <h4>Antécédents familiaux et médicaux</h4>
                <p >Votre risque est plus élevé si l’un de vos <br>proches parents a déjà été atteint
                     d’une <br> maladie du coeur à un jeune âge.</p>
            </div>
            <div class="col-lg-6 col-12">
               <h4>Origines africaine et sud-asiatique</h4>
               <p  >Les personnes d’origine africaine ou sud-asiatique sont plus<br> susceptibles d’avoir 
                une pression artérielle élevée, le diabète<br> et d’autres facteurs de risque. </p>
            </div>   
        </div>
    
    </div>

</section>

<section  >
    <div class="container">
      <div class="row ">
          <h2 > Prevenir les maladies du cœur</h2>
           <p>
            Fixer un objectif qui vous incitera à être en meilleure santé.
           </p>
      </div>
      <br>
      <div class="row">
          <div class="col-lg-6 col-12">
              <img class="img-responsive" style=" width: 90%;"  src="assets/images/healthy.jpg">
          </div>
          <div class="col-lg-6 col-12" >
            <h2 class="title">  Mangez sainement..</h2> 
             <p>Une alimentation saine,c’est-à-dire un régime alimentaire <br>équilibré,
                  est l’une des manières les plus efficaces de protéger <br>votre santé. </p>
           </div>
      </div>
      
 
    
      <br>
      <br>
     
      <div class="row" >
          <div class="col-lg-6 col-12">
           <h2  class="title"> Garder la forme..</h2> 
            <p>Pour conserver la santé du cœur, un peu d’activité physique <br>est très bénéfique.
                 Voici des conseils pour bouger.</p>
          </div>
          <div class="col-lg-6 col-12">
              <img  class="img-responsive" style="width: 90%;" src="assets/images/sport.jpg">
              
          </div>
        

     </div>
     

     <br>
     <br>
     
     <div class="row" >
        <div class="col-lg-6 col-12">
            <img class="img-responsive" style="width:90%;"src="assets/images/risquePage3.PNG">
            
        </div>
         <div class="col-lg-6 col-12">
          <h2  class="title"> Réduire le stress..</h2> 
           <p>La gestion du stress vous aidera à vous sentir mieux <br>au quotidien 
               et à diminuer vos risques de maladie<br> cardiovasculaire.</p>
         </div>
    </div>

   
    <br>
    <div class="row" >
        <div class="col-lg-6 col-12">
         <h2  class="title"> Poids santé..</h2> 
          <p>Adopter de saines habitudes et un poids santé – pour la vie.</p>
        </div>
        <div class="col-lg-6 col-12">
            <img  class="img-responsive" style="width:90%;" src="assets/images/sportif.jpg">
            
        </div>
      </div>
    
    </div>
  
</section>            




</body>

</html>