    
    


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>medical</title>
  
    <!-- Bootstrap CSS -->
   
  
    
</head>

<body>
    <div class="bod">
        <div class="container">
          <app-header></app-header>
 
                
                
                  
       </div>        
      </div>
<section>
     <header>
        <div class="hsf-container">
            <br>
                <h1 class="hsf-article-title">Les types de maladies du cœur</h1>
        </div>
    </header>
</section>
        <section class="hsf-article-content hsf-container">
            	
                    <div class="row">
                      <div class="col-sm-4"></div>
	    <div class="col-sm-8">
	        <h3>Qu&rsquo;est-ce qu&rsquo;une maladie du c&oelig;ur?</h3>
<p>Tout probl&egrave;me de sant&eacute; qui affecte la structure ou le fonctionnement du c&oelig;ur est une maladie du c&oelig;ur. On croit parfois &agrave; tort qu&rsquo;il n&rsquo;en existe qu&rsquo;un seul type, alors qu&rsquo;en fait, les maladies du c&oelig;ur sont nombreuses. Les causes de ces sont d&rsquo;ailleurs diverses.</p>
	    </div>
    </div>
         </section>



   
	<section class="hsf-paragraph-container hsf-container grey-section">
	    <div class="hsf-paragraph-component row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
	        <p>On compte plusieurs types de maladies du c&oelig;ur. Ils peuvent &ecirc;tre class&eacute;s notamment selon la fa&ccedil;on dont ils affectent le c&oelig;ur.</p>
<ol>
    <li><strong>Coronaropathie et autres maladies vasculaires</strong> &ndash; <span>Elles se manifestent lorsque les vaisseaux sanguins se durcissent. La est caract&eacute;ris&eacute;e par le r&eacute;tr&eacute;cissement ou l&rsquo;obstruction d&rsquo;une art&egrave;re coronaire (du c&oelig;ur). Elle est la forme la plus courante de maladie du c&oelig;ur et la cause principale de la crise cardiaque et de l&rsquo;angine de poitrine (douleur thoracique). Une <strong>maladie vasculaire</strong> touche plut&ocirc;t les autres vaisseaux. Elle r&eacute;duit le d&eacute;bit sanguin et affecte le fonctionnement du c&oelig;ur.</span></li><br/>
    <li><strong>Troubles du rythme cardiaque (arythmies)</strong> &ndash; <span>Ils font battre le c&oelig;ur trop lentement, trop rapidement ou de fa&ccedil;on irr&eacute;guli&egrave;re. Des millions de personnes ont une arythmie qui perturbe la circulation sanguine. Il en existe plusieurs types : certains ne pr&eacute;sentent aucun sympt&ocirc;me (asymptomatiques) ou signe pr&eacute;curseur; d&rsquo;autres sont soudains et mortels.</span></li><br/>
    <li><strong>Cardiopathies structurelles</strong> &ndash; <span>Elles r&eacute;sultent d&rsquo;anomalies de la structure du c&oelig;ur, notamment des valvules, des parois et des muscles cardiaques, ou des vaisseaux sanguins pr&egrave;s du c&oelig;ur. Ces cardiopathies sont parfois existantes &agrave; la naissance (cong&eacute;nitales) ou se produisent durant la vie en raison d&rsquo;une infection, d&rsquo;une usure ou d&rsquo;autres facteurs. Les personnes vivant avec une malformation cardiaque, ainsi que leur famille, ont besoin de soutien tout au long de leur vie puisqu&rsquo;elles doivent souvent recevoir des soins m&eacute;dicaux continus et subir des interventions chirurgicales.</span></li><br/>
    <li><strong>Insuffisance cardiaque</strong> &ndash; <span>Il s&rsquo;agit d&rsquo;une affection grave qui appara&icirc;t lorsque le c&oelig;ur est affaibli ou a subi des l&eacute;sions. Les deux causes les plus courantes de l&rsquo;insuffisance cardiaque sont la crise cardiaque et l&rsquo;hypertension art&eacute;rielle. La maladie est incurable, mais un diagnostic rapide, l&rsquo;adoption d&rsquo;habitudes de vie particuli&egrave;res et la prise de m&eacute;dicaments adapt&eacute;s aident les patients &agrave; mener une longue vie normale et active, sans hospitalisation.</span></li><br/>
</ol>
<p>Il existe d&rsquo;autres maladies du c&oelig;ur, comme les maladies infectieuses, l&rsquo;hypertrophie du c&oelig;ur et les troubles h&eacute;r&eacute;ditaires. Pour plus d&rsquo;information, consultez la section sur les probl&egrave;mes de sant&eacute; li&eacute;s au c&oelig;ur.</p>
	    </div>
    </div>
	</section>

    <div id="causes" name="causes" class="hsf-module-anchor">
    </div>
	<section class="hsf-paragraph-container hsf-container">
	    <div class="hsf-paragraph-component row">
	      <div class="col-sm-4" ><h3>Causes</h3></div>
            <div class="col-sm-8">
<p>Les maladies sont généralement causées par divers facteurs de risque :</p>
<ul>
    <li>Autres problèmes de santé
        <br/>
        <br/>
    
    <ul>
        <li>Hypertension artérielle</li><br/>
        <li>Hypercholestérolémie (taux élevé de cholestérol sanguin)</li><br/>
        <li>Diabète</li><br/>
        <li>Hypertension artérielle pendant la grossesse (prééclampsie)</li><br/>
        <li>Apnée du sommeil</li><br/>
    </ul>
    </li>
    <li>Facteurs de risque liés au mode de vie<br/><br/>
    <ul>
        <li>Alimentation de faible qualité</li><br/>
        <li>Manque d’exercice</li><br/>
        <li>Poids malsain</li><br/>
        <li>Tabagisme</li><br/>
        <li>Surconsommation d’alcool ou utilisation de drogues à usage récréatif</li><br/>
        <li>Stress</li><br/>
        <li>Usage de contraceptifs oraux ou recours à l’hormonothérapie</li><br/>
    </ul>
    </li>
    <li>Facteurs de risque incontrôlables<br/><br/>
    <ul>
        <li>Sexe – le risque de maladies du cœur et d’AVC d’une femme change au cours de sa vie.</li><br/>
        <li>Age – Le risque de maladies du cœur augmente avec l’âge.</li><br/>
        <li>Antécédents familiaux et médicaux</li><br/>
        <li>Origine africaine ou sud-asiatique</li><br/>
        <li>Origine autochtone</li><br/>
        <li>Situation personnelle – Il s’agit de conditions comme l’accessibilité à des aliments sains, à de l’eau potable, à des soins de santé ou à des services sociaux.</li><br/>
    </ul>
    </li>
</ul>
</div>
<div>&nbsp;</div>
</div>
	    
	</section>

    <div id="pr-vention" name="pr-vention" class="hsf-module-anchor">
    </div>
	<section class="hsf-paragraph-container hsf-container grey-section">
	    <div class="hsf-paragraph-component row">

	      <div class="col-sm-4">  <h3>Prévention</h3></div>
          <div class="col-sm-8">
<p>Les maladies du cœur sont généralement évitables. Lorsqu’on reçoit un diagnostic de trouble cardiaque, il est possible de réduire son risque de développer d’autres problèmes, voire des plus graves :</p>
<ul>
    <li>en cessant ou en évitant de fumer;</li><br/>
    <li>en gardant la forme;</li><br/>
    <li>en connaissant et maîtrisant sa pression artérielle;</li><br/>
    <li>en ayant une alimentation saine faible en gras, surtout en gras saturés et trans;</li><br/>
    <li>en atteignant ou maintenant un poids santé;</li><br/>
    <li>en maîtrisant son diabète, s’il y a lieu;</li><br/>
    <li>en limitant sa consommation d’alcool;</li><br/>
    <li>en gérant son stress;</li><br/>
    <li>en consultant régulièrement un médecin et en suivant ses recommandations.</li><br/>
</ul>

	

    <div id="diagnostic" name="diagnostic" class="hsf-module-anchor">
    </div>
	
	   
	        <p>Avant de diagnostiquer une maladie du c&oelig;ur, le m&eacute;decin doit examiner les ant&eacute;c&eacute;dents familiaux et m&eacute;dicaux des patients, et soumettre ces derniers &agrave; un examen m&eacute;dical. Il doit aussi mener certains tests, qui sont d&eacute;termin&eacute;s selon les signes et sympt&ocirc;mes observ&eacute;s chez les patients.</p>
	</div>    
</div>
    </section>

    <div id="traitement" name="traitement" class="hsf-module-anchor">
    </div>
	<section class="hsf-paragraph-container hsf-container">
	    <div class="hsf-paragraph-component row">
            <div class="col-sm-4">
	        <h3>Traitement&nbsp;</h3>
        </div>
        <div class="col-sm-8">
<p>Il est possible de traiter une maladie du c&oelig;ur en prenant des m&eacute;dicaments, en subissant une intervention m&eacute;dicale ou en modifiant ses habitudes de vie (p. ex., adopter une alimentation saine, faire de l&rsquo;exercice, r&eacute;duire son stress). Le traitement d&eacute;pend du type de maladie et de sa gravit&eacute;. Vous discuterez des options de traitement avec votre m&eacute;decin et d&eacute;ciderez avec lui de la meilleure solution pour votre situation.</p>
	    </div>
	</div>

    <div id="r-tablissement" name="r-tablissement" class="hsf-module-anchor">
    </div>
  </section>
	<section class="hsf-paragraph-container hsf-container grey-section">
	    <div class="hsf-paragraph-component row">
            <div class="col-sm-4">
	        <h3>R&eacute;tablissement</h3>
        </div>
        <div class="col-sm-8">
<p>Un programme personnalis&eacute; de r&eacute;adaptation cardiaque pr&eacute;voit des exercices physiques, ainsi que des s&eacute;ances d&rsquo;information et de consultation psychologique pour soutenir votre r&eacute;tablissement apr&egrave;s une maladie du c&oelig;ur. Ce programme vous aidera &agrave; recouvrer vos forces et &agrave; r&eacute;duire votre risque de souffrir d&rsquo;autres troubles cardiaques &agrave; l&rsquo;avenir. Consultez votre m&eacute;decin, un service de sant&eacute; publique ou un centre hospitalier pour d&eacute;couvrir les programmes de r&eacute;adaptation cardiaque offerts dans votre r&eacute;gion.<br />
<br />
Il est naturel de ressentir de la peur ou de l&rsquo;inqui&eacute;tude apr&egrave;s un diagnostic de maladie du c&oelig;ur. Trouvez du r&eacute;confort &eacute;motionnel aupr&egrave;s d&rsquo;un parent, d&rsquo;un ami, d&rsquo;un m&eacute;decin, d&rsquo;un travailleur social, d&rsquo;un professionnel en sant&eacute; mentale ou d&rsquo;un groupe de soutien. Parler de vos d&eacute;fis et de vos &eacute;motions est une &eacute;tape importante de votre r&eacute;tablissement.</p>
</div>
</div>
</section>

    </body>
   



