<!--<div class="row" class="view">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-6 col-12"></div>
            <div class="col-lg-6 col-12 text-center p-5" >
            
               <h3> Test d'insuffisance cardiaque </h3>
                L’insuffisance cardiaque est une maladie chronique grave du coeur.
                Tout l’organisme, toute la vie en pâtit.
            <div class="text-center p-4">
                <button  class="submit" (click)="passerTest()" class="btn btn-primary" >Begin your test</button>
            </div>
            </div>
           
            
        </div>
  </div>
</div>-->
<!--width: 40%;float: right;margin-top: 8%;-->
<div class="container" style="width: 35%;float: right;margin-top: 8%;" id="feature">
     <img src="assets/images/quote.png">     
    <h4 class="quote"> Les maladies nous apprend qui fait le bonheur, l'argent ou la santé.<br/><br/></h4>
    
    <div class="test"> 
      Peut-être souffrez-vous de douleurs de poitrines,
      de difficulté de respiration ou d'une gêne thoracique ?
     <span style="color: red; font-weight: bolder;"> Démarrer rapidement votre fiable test pour s'assurer et réveler la posibilité de maladie. <br/></span> </div>
     <button class="btn submit" routerLink="/questionnaire" >Démarrer le test</button>
 </div>

 
 

     

 

