<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>medical</title>
    
    
  
    <!-- style CSS -->
    <link rel="stylesheet" href="/src/cssCommun/style.css">
</head>

<body>
        <div class="container">
          <app-header></app-header>
        
                  
       </div>        
 
      <section class="hsf-landing-header">
            <div class="signes">  
                <h1>Signes d’urgence</h1>
            </div>
        </section>

<section class="hsf-signs-heart-stroke-module black grey-section">
        <article class="hsf-container">
            <header class="container">
               <div class="row">
                <h2 class="col">Signes d’une crise cardiaque</h2>
                <p class="col">Les signes peuvent varier, et ne sont pas tout le temps les m&ecirc;mes chez les hommes et chez les femmes. Si vous observez l&rsquo;un de ces signes, composez imm&eacute;diatement votre num&eacute;ro local des services d&rsquo;urgence.</p>
<p>&nbsp;</p>
            </div>
            </header>
            <br/><br/>
            <ul class="container">
                <div class="row">
    <div class="col">
        <div class="hsf-image-wrapper">
            <img src="https://heartstrokeprod.azureedge.net/-/media/images/heart/heart-attack-signs-chest-discomfort.ashx?rev=9a02652da9ae44b5998bf7e4dd2eb712&amp;la=fr-CA&amp;hash=142216C5F98D457148394EC557BFC203" title="Malaise dans la poitrine" alt="Malaise dans la poitrine" />
        </div>
        <h3>Malaise dans la poitrine</h3>

            <p>pression ou inconfort, serrement, douleur vive, sensation de brûlure ou de lourdeur à la poitrine</p>
    </div>
    <div class="col">
        <div class="hsf-image-wrapper">
            <img src="https://heartstrokeprod.azureedge.net/-/media/images/heart/heart-attack-signs-sweating.ashx?rev=0f6bd4f50b9b4a418ccd4287ba2aec33&amp;la=fr-CA&amp;hash=A596BC35B7FB13FBB1E33C58863258A4" title="Transpiration" alt="Transpiration" />
        </div>
        <h3>Transpiration</h3>

            <p></p>
    </div>
    <div class="col">
        <div class="hsf-image-wrapper">
            <img src="https://heartstrokeprod.azureedge.net/-/media/images/heart/heart-attack-signs-upper-body-discomfort.ashx?rev=078f8f9a90bf4931960b3d4d03c25311&amp;la=fr-CA&amp;hash=0E111F5CA7757EA1AD649C1F3D014E25" title="Douleur au haut du corps" alt="Douleur au haut du corps" />
        </div>
        <h3>Douleur au haut du corps</h3>

            <p>cou, mâchoire, épaule, bras ou dos</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="hsf-image-wrapper">
            <img src="https://heartstrokeprod.azureedge.net/-/media/images/heart/heart-attack-signs-nausea.ashx?rev=3e06518cbc5c43129eccd5ce13e3a073&amp;la=fr-CA&amp;hash=634DEAAEDB3953043A3EC7709472C843" title="Nausée" alt="Nausée" />
        </div>
        <h3>Nausée</h3>

            <p></p>
    </div>
    <div class="col">
        <div class="hsf-image-wrapper">
            <img src="https://heartstrokeprod.azureedge.net/-/media/images/heart/heart-attack-signs-shortness-of-breath.ashx?rev=0c4fd32ba20e41c5b0e47550f732fde6&amp;la=fr-CA&amp;hash=1EF561752D2FBD5430BF074E4ECF5C5C" title="Essoufflement" alt="Essoufflement" />
        </div>
        <h3>Essoufflement</h3>

            <p></p>
    </div>
    <div class="col">
        <div class="hsf-image-wrapper">
            <img src="https://heartstrokeprod.azureedge.net/-/media/images/heart/heart-attack-signs-light-headedness.ashx?rev=ddf54d8a66f6412dbe83239f1117b553&amp;la=fr-CA&amp;hash=3F4D6D49D9C9CD0DA6F56FE1BBAFECA2" title="Étourdissements" alt="Étourdissements" />
        </div>
        <h3>Étourdissements</h3>

            <p></p>
    </div>
</div>
            </ul>

               
        </article>
    </section>

     <section class="hsf-content-module gray no-media">
        <article class="hsf-container">
            <header class="container">
                <div class="row">
                <h2 class="col">Signes d’une crise cardiaque chez les femmes</h2>
                <p class="col">Le signe le plus commun est la douleur ou l’inconfort thoracique. Toutefois, ces dernières peuvent subir une crise cardiaque sans ressentir de pression à la poitrine. Leurs symptômes peuvent comprendre un essoufflement; une pression ou une douleur à la mâchoire, dans le haut du dos, dans la partie inférieure du thorax ou dans la partie supérieure de l’abdomen; des étourdissements ou un évanouissement, ou encore une fatigue extrême.</p>
                </div>
            </header>

        </article>
    </section>


    <section class="hsf-take-action-list-module grey-section">
        <article class="hsf-container">
            <header class="container">
                <div class="row">
                <h2 class="col">Les signes d’un arrêt cardiaque</h2>
                <p class="col">Si le cœur cesse pour une raison quelconque, le sang ne parvient plus au cerveau ni le cœur et les organes vitaux. La mort pourrait survenir en quelques minutes.</p>
<p>&nbsp;</p>
</div>
            </header>
            <ol class="container">
                <hr/>
                    <li>
                            <p>La perte de conscience subite</p>
                    </li>
                    <hr/>
                                    <li>
                            <p>Aucune réaction au toucher ou aux sons</p>
                    </li>
                    <hr/>
                                    <li>
                            <p>La personne halète ou cesse de respirer</p>
                    </li>
               
            </ol>
            
        </article>
    </section>
<section class="">
        <article class="hsf-container">
            <header class="container">
                <div class="row">
                <h2 class="col">Les signes du syndrome de la mort subite par arythmie</h2>
                <p class="col">Le SMSA (syndrome de la mort subite par arythmie) couvre une variété de désordres cardiaques qui sont souvent génétiques et qui peuvent causer une mort subite chez les individus jeunes, apparemment en bonne santé.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
            </header>
            <ol class="container">
                <hr/>
                    <li>
                            <p>Un évanouissement ou une crise épileptique durant une activité physique</p>
                    </li>
                    <hr/>
                                    <li>
                            <p>Un évanouissement ou une crise épileptique causés par une agitation émotionnelle, une détresse émotionnelle ou une surprise</p>
                    </li>
                    <hr/>
                                    <li>
                            <p>Des antécédents familiaux de mort subite inattendue.</p>
                    </li>
                                                                                                                            </ol>
           
        </article>
    </section>

    </body>

</html>